*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}
html, body{
  width: 100%;
  height: 100%;
}
.main{
  height: 100%;
  width: 100%;
  background-color: white;
}
.nav{
  height: 100px;
  width: 100%;
  background-color: rgb(236, 227, 245);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px;
}
#nav-part1{
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav h3, .nav i{
  font-size: 17px;
  border: 1.5px solid #000;
  font-weight: 500;
  padding: 5px 8px;
  border-radius: 50px;
}
.nav h1{
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
}
.nav button{
  padding: 7px 12px;
  border-radius: 25px;
  border: 1.5px solid #000;
  font-size: 16px;
  font-weight: 600;
  background-color: white;
}
#btn2{
  background-color: orangered;
  color: white;
  border: none;
}
.stroked-text, .background-text {
  font-size: 70px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.stroked-text {
  color: transparent;
  z-index: 2;
  -webkit-text-stroke: 2px #040306db;
}

.background-text {
  color: #000;
  z-index: 0;
  -webkit-text-stroke: none;
}

.images{
  z-index: 1;
}
.images, img{
  height: 300px;
  width: 240px;
  border-radius: 15px;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
}
#img3{
  transform: translate(-50%,-50%) rotate(-30deg);
}
#img2{
  transform: translate(-50%,-50%) rotate(-20deg);
}
#img1{
  transform: translate(-50%,-50%) rotate(-10deg);
}
#btm-left{
  position: absolute;
  bottom: 5%;
  left: 3%;
  font-size: 15px;
}
.images:hover ,.images:active,
.img:hover , .img:active{
  z-index: 5;
  transform:  translate(-50%,-50%) scale(1.1);
}
